<section class="map-container">
  <h2>ONDE ESTAMOS</h2>
  <div class="map-frame" data-aos="zoom-in">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15348.024028002796!2d-47.779079712841785!3d-15.908756199999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a1fa6b7d6851d%3A0x8be165a16776e622!2sBarbearia%20Lacerda!5e0!3m2!1spt-BR!2sbr!4v1769026557703!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" 
      width="100%" 
      height="350" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
  
  <div class="address-info">
    <p>📍 Avenida Comercial, Vila Nova. <br>São Sebastião, Brasília - DF.</p>
    <a href="https://maps.app.goo.gl/B8TcbECctYfVuzCdA" target="_blank" class="btn-rota">
      TRAÇAR ROTA AGORA
    </a>
  </div>
</section>