<section class="services-section" id="servicos">
  <div class="container">
    
    <div class="section-header" data-aos="fade-up">
      <h2>TABELA DE PREÇOS</h2>
      <p>Invista na sua imagem com quem entende.</p>
    </div>

    <div class="services-grid">
      
      <div class="service-card" *ngFor="let service of services; let i = index" 
           data-aos="fade-up" 
           [attr.data-aos-delay]="i * 100"> <div class="card-top">
          <h3>{{ service.name }}</h3>
          <span class="price">{{ service.price }}</span>
        </div>
        
        <p class="description">{{ service.description }}</p>
        
      </div>

    </div>
  </div>
</section>
  
<section class="services-section" id="servicos">
  <div class="container">
    
    <div class="section-header" data-aos="fade-up">
      <h2>PLANOS</h2>
      <p>Invista na sua imagem com quem entende.</p>
    </div>

    <div class="services-grid">
      
      <div class="service-card" *ngFor="let plan of plans; let i = index" 
           data-aos="fade-up" 
           [attr.data-aos-delay]="i * 100"> <div class="card-top">
          <h3>{{ plan.name }}</h3>
          <span class="price">{{ plan.price }}</span>
        </div>
        
        <p class="description">{{ plan.description }}</p>
        
      </div>

    </div>
  </div>
</section>