<section class="services-section">
  <h2>NOSSOS SERVIÇOS</h2>
  
  <div class="grid-container">
    <div class="card" data-aos="fade-right" data-aos-delay="100">
      <div class="icon">✂️</div> <h3>Corte Masculino</h3>
      <p>Corte na tesoura ou máquina</p>
      <span class="price">A partir de <br> <strong>R$ 25,00</strong></span>
    </div>

    <div class="card" data-aos="fade-right" data-aos-delay="300">
      <div class="icon">🪒</div>
      <h3>Barba</h3>
      <p>Toalha quente e navalha</p>
      <span class="price">A partir de <br> <strong>R$ 25,00</strong></span>
    </div>

    <div class="card" data-aos="fade-right" data-aos-delay="500">
      <div class="icon">🌿</div>
      <h3>Limpeza de Pele</h3>
      <p>Remoção de cravos e impurezas</p>
      <span class="price">A partir de <br> <strong>R$ 25,00</strong></span>
    </div>
  </div>
</section>
  
<section class="services-section">
  <h2>NOSSOS PLANOS</h2>
  <div class="grid-container">
    <div class="card" data-aos="fade-left" data-aos-delay="100">
      <div class="icon">💈</div>
      <h3>Plano Mensal</h3>
      <p>Cortes Ilimitados <br>Atendimento Premium, <br>Ambiente exclusivo.</p>
      <span class="price"><strong>A partir de R$ 120,00</strong></span>
    </div>
  </div>
</section>