<section class="portfolio-section">
  <div class="header-portfolio" data-aos="fade-up">
    <h2>CONFIRA O RESULTADO</h2>
    <p>Alguns trabalhos realizados por nós</p>
  </div>

  <div class="gallery">
    <div class="photo-card" data-aos="zoom-in" data-aos-delay="0">
      <img src="/images/platinado.jpg" alt="Nevou">
      <div class="overlay">
        <span>Nevou Platinado na régua</span>
      </div>
    </div>

    <div class="photo-card" data-aos="zoom-in" data-aos-delay="200">
      <img src="/images/corte1.jpg" alt="Precisão máxima">
      <div class="overlay">
        <span>Disfarçado com estilo</span>
      </div>
    </div>

    <div class="photo-card" data-aos="zoom-in" data-aos-delay="400">
      <img src="/images/corte3.jpg" alt="O detalhe manda">
      <div class="overlay">
        <span>Moicano asa delta com raio</span>
      </div>
    </div>
  </div>
  
  <div class="btn-ver-mais" data-aos="fade-up">
    <a href="https://instagram.com/barbearia_lacerda771" target="_blank">
      VER MAIS NO INSTAGRAM
    </a>
  </div>
</section>